# public/.htaccess

# Aktifkan Modul Rewrite
RewriteEngine On

# Kondisi untuk memastikan request bukan file atau direktori yang ada
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Arahkan semua request ke index.php
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]